.movie {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction:column;
    align-items: center;
}

.movie__intro {
    width: 80%;
}

.movie__backdrop {
    width: 100%;
    height: 500px;
    object-fit:cover;
    object-position: 0 35%;
}
@media (max-width: 900px) {
    .movie__backdrop{
        height:300px;
    }
    .movie__poster {
       display: none;
    }
    .movie__production {
        width: 85%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center !important;
        margin-bottom: 4rem;
    }
}
@media (max-width: 700px) {
    .movie__backdrop {
       display:none;
    }
    .movie__links {
        width:120px;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .movie__links .movie__heading{
            margin-bottom:50px;
    }
    .movie__links  .movie__Button{
        margin-bottom: 30px;
    }
    .movie__links {
        bottom: -20vh !important
    }
    .movie__productionComapany {
    width: 150px !important;
    margin: 2rem;
    }
    .movie__heading{
        font-size: 2.5rem !important;
    }
    .movie__detail {
        align-items: center;
        width: 75%;
        display: flex;
        position: relative;
        bottom:0 !important;
    }
    .movie__name {
        font-size: 6vw !important;
    }
    .movie__tagline {
        font-size: .9rem !important;   
    }
    .movie__genres{
        width: 75%;
        display: flex;
        justify-content: center;
        flex-direction: column !important;
    }
    .movie__heading.production{
        display: none !important;
    }
    .movie__production{
       display:none !important;
    }
}

.movie__detail {
    align-items: center;
    width: 75%;
    display: flex;
    position: relative;
    bottom: 225px;
}

.movie__detailLeft {
    margin-right: 30px;
}

.movie__poster {
    width:300px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.86) 0px 22px 40px 6px;
}

.movie__detailRight {
    color: white;
    display: flex;
    flex-direction: column;
    height: 450px;
    justify-content:space-between ;
}

.movie__detailRightTop > div{
    text-shadow: 0px 0px 5px #000000;
    margin-bottom: .5rem;
}

.movie__name {
    font-weight: 600;
    font-size: 3rem;
}

.movie__voteCount {
    margin-left: 1rem;
}

.movie__genres {
    margin: 1.25rem 0;
}

.movie__genre {
    padding: .5rem;
    border: 2px solid white;
    border-radius: 20px;
    margin-right: 1rem;
    background:rgba(6, 6, 6, 0.412);
}


.movie__detailRightBottom {
    margin: 2rem 0;
    flex: 0.8;
}

.synopsisText {
    font-size: 1.5rem;
    margin-bottom: 1.25rem;
    font-weight: 600;
    display: flex;
    position: relative;
    align-items: center;
}
.synopsisText > div:last-of-type {
    margin-left: auto;
}

.movie__links {
    position: relative;
    bottom: 120px;
    display: flex;
    justify-content: space-between;
    width: 75%;
}

.movie__heading {
    font-size: 2.2rem;
}

.movie__Button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.8rem 2rem;
    border-radius: 20px;
    cursor: pointer;
    width: 5rem;
    color: black;
    font-weight: bold;
}

.movie__homeButton {
    background-color:rgb(255, 0, 0);
    
}

.movie__imdbButton {
    background-color:#f3ce13;
}

.newTab {
    margin-left: 1.4rem;
}

.movie__production {
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 4rem;
}


.movie__productionComapany {
    width: 200px;
    margin: 2rem;
}

.productionCompanyImage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}