.movie-list {
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #0b2d4c;
    padding:10px;
  }

  .movie-loader{
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    align-content: center !important;
  }
  
.loader {
  padding: 35vh 0 0 50vw !important;
}
