@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:wght@300&display=swap');

.navbar {
    display:flex;
    flex-direction: row;
    padding : 2rem;
    width : 100%;
    justify-content:space-between;
    background : #041424;
}

.heading {
    font-family: 'Bebas Neue', cursive; 
    font-size : 2rem;
    color:white;
}

.yellow {
    color:yellow;
    font-size: xxx-large;
}

.search-bar{
    border-radius:10px;
    padding:10px;
    max-height: 30px;
    outline: none;
    border: none;
    background: none;
    font-size :16px;
    font-weight: 500;
    color:white;
}

.search_field {
    display:flex;
    flex-direction:row;
    align-items: center;
    padding:10px 8px;
    border-radius:10px;
    max-height: 30px;
    color:white;
    outline: none;
    border: none;
    background-color:rgb(27, 45, 145);
    margin : auto 0;
}

@media screen and (max-width:600px) {
    .navbar{
        display:flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
    }
    
}